* {
    box-sizing: border-box;
}
aside {
    justify-content: center;
}

body {
    background-color: rgb(228, 236, 239);
}

#jegyertekeles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 250px 30px 250px;
    padding: 10px;
    border: lightblue solid 2px;
}

#szamok {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.kor {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 50px solid black;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#tablazat {
    justify-content: center;
    padding: 20px 100px 20px 100px;
}

#tablazat table {
    width: 100%;
}

#tablazat th,
#tablazat td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#tablazat th {
    background-color: lightblue;
}
